.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.hover-scale {
  transition: transform 0.5s ease;
}

.hover-scale:hover {
  transform: scale(1.1);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeInFromLeft {
  animation: slideInFromLeft 1.5s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeInFromRight {
  animation: slideInFromRight 1.5s ease-in-out;
}

.hover-scale-small {
  transition: transform 0.5s ease;
}

.hover-scale-small:hover {
  transform: scale(1.05);
}

.imagedimension {
  width: 85%;
  height: auto;
}
