.bodyheight {
  height: 50rem;
}

.rounded-99 {
  border-radius: 99px;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-25 {
  border-radius: 25px;
}

.starmargin {
  margin-bottom: 0.27rem;
  margin-left: 0.1rem;
}

.hover-scale-element {
  transition: transform 0.5s ease;
}

.hover-scale-element:hover {
  transform: scale(1.02);
}

.transition-class {
  transition: background-color 0.7s ease;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}