.scrollbar {
  overflow: hidden;
}

.marginRegister {
  margin-top: 1%;
  margin-bottom: 5%;
}

.marginLogin {
  margin-top: 9%;
  margin-bottom: 9%;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInFromBottom {
  animation: slideInFromBottom 1.5s ease-in-out;
}
