.footer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; /* Make the footer take up the full height of its parent */
}

.hover-scale {
  transition: transform 0.5s ease;
}

.hover-scale:hover {
  transform: scale(1.1);
}
