@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: FadeIn 1s ease-in-out;
}

.hover-scale {
  transition: transform 0.5s ease;
}

.hover-scale:hover {
  transform: scale(1.1);
}
