.bodyheight {
  height: 50rem;
}

.rounded-99 {
  border-radius: 99px;
}

.rounded-40 {
  border-radius: 40px;
}

.starmargin {
  margin-bottom: 0.27rem;
  margin-left: 0.1rem;
}

.hover-scale-element {
  transition: transform 0.5s ease;
}

.hover-scale-element:hover {
  transform: scale(1.02);
}
