.body {
  height: 75vh;
  width: 100%;
  background-color: white;
  margin: 0rem;
  overflow: hidden;
  position: relative;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  width: 75%;
  top: 50%;
  left: 3%;
  transform: translate(0%, -50%);
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.image-container .image {
  min-width: 45vmin;
  height: 70vmin;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: filter 0.5 ease;
  border-radius: 4px;
}

.image-container .image {
  filter: blur(0);
  transition: filter 1s ease;
}

.image-container:hover .image {
  filter: blur(2px);
}

.image-container .image-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  font-size: 50px;
  text-align: center;
  z-index: 1;
  text-shadow: 0 0 10px black;
}

.image-container:hover .image-hover-text {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
