.body {
  height: 68vh;
  width: 100%;
  background-color: white;
  margin: 0rem;
  overflow: hidden;
  position: relative;
}

.image-track > .image {
  width: 85vmin;
  height: 65vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

.image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 3%;
  width: 217%;
  top: 50%;
  transform: translate(0%, -50%);
}

.image-track > .image:hover {
  filter: blur(1px);
}
