.mainpage {
  background-color: #eff2eb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 85rem;
}

.mainchecks {
  background-color: #eff2eb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.butttons {
  font-size: 1.2rem;
  padding: 0.6rem;
  width: 8rem;
  margin: 2px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 150%;
  height: 150%;
}
