.mainpage {
  background-color: #eff2eb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

/* Mainpage.css */
.card-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 85rem;
}

.mainchecks {
  background-color: #eff2eb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
